<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdeco.estimationapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Get files from sd card -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_APP_ALL_FILES_ACCESS_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jdeco_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_jdeco_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.EstimationApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.EstimationApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.forms.OpenApplicationWaiver" />
        <activity
            android:name=".ui.forms.OpenDoneApplications"
            android:label="@string/title_activity_open_done_applications" />
        <activity
            android:name=".ui.forms.itemsList"
            android:label="@string/title_activity_items_list" />
        <activity
            android:name=".ui.forms.templatesList"
            android:label="@string/title_activity_templates_list" />
        <activity
            android:name=".ui.forms.submitApplication"
            android:label="@string/title_activity_submit_application" />
        <activity
            android:name=".ui.LoginUI"
            android:label="@string/app_name"
            android:theme="@style/Theme.EstimationApp.NoActionBar">
        </activity> <!-- Main activity -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/login_lbl"
            android:theme="@style/Theme.EstimationApp.NoActionBar" /> <!-- Application Details activity -->
        <activity
            android:name=".ui.forms.OpenApplicationDetails"
            android:label="@string/application_details_lbl" />
    </application>

</manifest>